.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    justify-content: space-between;
    -webkit-box-shadow: 5px 5px 15px -3px #000000;
    box-shadow: 5px 5px 15px -3px #000000;
    height: 160px;
    cursor: pointer;
  
    &:hover {
      background-color: #aaa;
      box-shadow: 5px 5px 15px -3px gray;
    }
  
    .Top {
      height: 70%;
  
      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }
    .Bottom {
      display: flex;
      justify-content: space-between;
    }
  }
  